/**********/
/* FOOTER */
/**********/
.footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.8rem 4.8rem 3.2rem 4.8rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-container {
  margin: 0 auto;
  max-width: 120rem;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

/**************/
/* NAVIGATION */
/**************/

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  list-style: none;
  margin: 3.2rem 0;
}

/***************/
/* BELOW 928px */
/***************/
@media (max-width: 60em) {
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/***************/
/* BELOW 435px */
/***************/
@media (max-width: 27.2em) {
  .footer-nav {
    font-size: 1.6rem;
  }
}
