<footer class="footer">
  <nav class="footer-container">
    <ul class="footer-nav">
      <li>
        email:
        <a class="nav-link" href="mailto:eric@ericslutz.dev">eric&#64;ericslutz.dev</a>
      </li>
      <li>
        <i class="fa-brands fa-github"></i>:
        <a
          class="nav-link"
          href="https://github.com/eslutz"
          target="_blank"
          >github.com/eslutz
        </a>
      </li>
      <li>
        <i class="fa-brands fa-linkedin"></i>:
        <a class="nav-link" href="https://www.linkedin.com/in/ericslutz/" target="_blank"
          >linkedin.com/in/ericslutz
        </a>
      </li>
    </ul>
  </nav>
</footer>
