<section class="education-recognition" id="education-recognition">
  <div class="container">
    <h2 class="heading-secondary">Achievements</h2>
    <h3 class="heading-tertiary">Education</h3>
    <h4 class="heading-quaternary">Degrees</h4>
    <ul class="list">
      <li class="list-item" style="flex-direction: column; align-items: flex-start; gap: 3px;">
        <strong>Southern New Hampshire University</strong>
        <p class="u-indent">
          Bachelor of Science in Computer Science, <em>summa cum laude</em><br />
          <small>
            concentration in software engineering<br />
            (<em>graduated 2023, 4.0 GPA</em>)
          </small>
        </p>
      </li>
      <li class="list-item" style="flex-direction: column; align-items: flex-start; gap: 3px;">
        <strong>Oakland University</strong>
        <p class="u-indent">
          Bachelor of Science in Information Technology
        </p>
        <small class="u-indent">(<em>graduated 2011, 3.43 GPA</em>)</small>
      </li>
    </ul>
    <h4 class="heading-quaternary u-margin-top-sm">Honors</h4>
    <ul class="list">
      <li class="list-item">
        <p>
          <strong>Honor Societies</strong> &mdash; I have been inducted into two honor societies; the <a class="link" href="https://www.nsls.org" target="_blank">National Society of Leadership and Success</a> (NSLS) and <a class="link" href="https://alsiglam.org" target="_blank">Alpha Sigma Lambda</a>.
        </p>
      </li>
      <li class="list-item">
        <p>
          <strong>SNHU Presidents List</strong> &mdash; I have been named to the SNHU Presidents List 4 times.
          <br />
          <small>
            <em>
              Eligibility for the SNHU Presidents List requires full-time undergraduate students who have earned a grade-point average of at least 3.7 for each paired 8-week term.
            </em>
          </small>
        </p>
      </li>
      <li class="list-item">
        <p>
          <strong>SNHU Honor Roll</strong> &mdash; I have been named to the SNHU Honor Roll for the past 9 terms.
          <br />
          <small>
            <em>
              Eligibility for the SNHU Honor Roll requires that a student earn a grade point average of at least 3.5 for the 8-week term.
            </em>
          </small>
        </p>
      </li>
      <li class="list-item">
        <p>
          View my SNHU Presidents List and Honor Roll achievements at
          <a
            class="link"
            href="https://meritpages.com/eslutz/"
            target="_blank"
            >meritpages.com/eslutz
          </a>
        </p>
      </li>
    </ul>
  </div>
</section>
<section class="work-recognition light-bg" id="work-recognition">
  <div class="container">
    <h3 class="heading-tertiary">Work Recognition</h3>
    <i class="fa-solid fa-quotes"></i>
    <i class="fa-solid fa-quotes list-icon"></i>
    <ul class="list">
      <li class="list-item">
        <p>
          November 2021 &mdash; I received recognition as the team member of the month for the Engineering Experience train for the Rocket Mortgage ISM
          <em>"We are the they."</em>
        </p>
      </li>
      <li class="list-item">
        <i class="fa-solid fa-quote-left list-icon-top"></i>
        <blockquote>
          Eric is a Team Member who is always willing to jump in, lend a hand or help a TM in need. He goes out of his way to help and support TM's even if the area is not one he has experience in. He is passionate about helping others, lending a hand and helping to move the needle.
        </blockquote>
        <i class="fa-solid fa-quote-right list-icon-top"></i>
      </li>
      <li class="list-item">
        <p>Additional recognition received from leaders and peers at Rocket Mortgage.</p>
      </li>
      <li class="list-item half-width">
        <div class="image-shadow">
          <img
            class="image"
            src="assets/images/recognition/kristy-helping-out.png"
            alt="First one to volunteer"
          />
        </div>
      </li>
      <li class="list-item half-width">
        <div class="image-shadow">
          <img
            class="image"
            src="assets/images/recognition/kristy-efficiency-and-reuse.png"
            alt="Thinking about efficiency"
          />
        </div>
      </li>
      <li class="list-item half-width">
        <div class="image-shadow">
          <img
            class="image"
            src="assets/images/recognition/kristy-documentation.png"
            alt="Organizing the process and sharing it"
          />
        </div>
      </li>
      <li class="list-item half-width">
        <div class="image-shadow">
          <img
            class="image"
            src="assets/images/recognition/derik-utility-reports.png"
            alt="For running data gathering scripts"
          />
        </div>
      </li>
      <li class="list-item half-width">
        <div class="image-shadow">
          <img
            class="image"
            src="assets/images/recognition/aydin-figure-it-out.png"
            alt="Always figuring things out"
          />
        </div>
      </li>
      <li class="list-item half-width">
        <div class="image-shadow">
          <img
            class="image"
            src="assets/images/recognition/derik-ex-presentation.png"
            alt="Thank you for presenting"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
