<section class="projects" id="projects">
  <div class="container">
    <h2 class="heading-secondary">Projects</h2>
    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Space Adventure Text Game</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            A small text based game set on your ship written in Python.
          </p>
        </li>
        <li class="list-item">
          <img
            class="project-image"
            src="assets/images/projects/space_adventure_text_game.png"
            alt="Space Adventure Text Game start screen" />
        </li>
        <li class="list-item">
          <a class="link" href="https://replit.com/@eslutz/Space-Adventure-Text-Game?v=1" target="_blank">
            Play the game
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Space-Adventure-Text-Game" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Guessing Game</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            A simple game written in Python about guessing a number with three different ways to play.
          </p>
        </li>
        <li class="list-item">
          <img
            class="project-image"
            src="assets/images/projects/guessing_game.png"
            alt="Guessing Game start screen" />
        </li>
        <li class="list-item">
          <a class="link" href="https://replit.com/@eslutz/Guessing-Game?v=1" target="_blank">
            Play the game
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Guessing-Game" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Bricks n Balls</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            A simple game written in C++ using the OpenGL library about destroying some bricks with some balls.
          </p>
        </li>
        <li class="list-item">
          <video class="project-image" controls>
            <source src="assets/images/projects/bricks_n_balls.mp4" />
          </video>
        </li>
        <li class="list-item">
          <a class="link" href="https://github.com/eslutz/Bricks-n-Balls/releases/tag/v1.0.0" target="_blank">
            Download the game
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Bricks-n-Balls" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">OpenGL 3D Scene</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            A 3D scene based on a real life image created using the OpenGL library and written in C++.
          </p>
        </li>
        <li class="list-item">
          <video class="project-image" controls>
            <source src="assets/images/projects/3d_scene.mp4" />
          </video>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/CS-330-Portfolio" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Nexter Website</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            The Nexter website created using a grid layout utilizing CSS Grid from the Udemy course "Advanced CSS and Sass: Flexbox, Grid, Animations and More!" The project is written with HTML and CSS utilizing the Sass preprocessor.
          </p>
        </li>
        <li class="list-item">
          <img
            class="project-image"
            src="assets/images/projects/nexter.png"
            alt="Nexter website" />
        </li>
        <li class="list-item">
          <a class="link" href="https://eslutz.github.io/Udemy-Advanced-CSS-and-Sass--Nexter-Project" target="_blank">
            View the site
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Udemy-Advanced-CSS-and-Sass--Nexter-Project" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Trillo Website</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            The Trillo website created using a flexbox layout from the Udemy course "Advanced CSS and Sass: Flexbox, Grid, Animations and More!" The project is written with HTML and CSS utilizing the Sass preprocessor.
          </p>
        </li>
        <li class="list-item">
          <img
            class="project-image"
            src="assets/images/projects/trillo.png"
            alt="Trillo website" />
        </li>
        <li class="list-item">
          <a class="link" href="https://eslutz.github.io/Udemy-Advanced-CSS-and-Sass--Trillo-Project" target="_blank">
            View the site
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Udemy-Advanced-CSS-and-Sass--Trillo-Project" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Natours Website</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            The Natours website created using a float layout from the Udemy course "Advanced CSS and Sass: Flexbox, Grid, Animations and More!" The project is written with HTML and CSS utilizing the Sass preprocessor.
          </p>
        </li>
        <li class="list-item">
          <img
            class="project-image"
            src="assets/images/projects/natours.png"
            alt="Natours website" />
        </li>
        <li class="list-item">
          <a class="link" href="https://eslutz.github.io/Udemy-Advanced-CSS-and-Sass--Natours-Project" target="_blank">
            View the site
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Udemy-Advanced-CSS-and-Sass--Natours-Project" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Omnifood Website v2</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            An updated version of the website created taking the newest version of the course "Build Responsive Real-World Websites with HTML and CSS" through Udemy written using HTML, CSS, and JavaScript.
          </p>
        </li>
        <li class="list-item">
          <img
            class="project-image"
            src="assets/images/projects/omnifood_v2.png"
            alt="Updated Omnifood website" />
        </li>
        <li class="list-item">
          <a class="link" href="https://eslutz.github.io/Udemy-Responsive-Website-UPDATED" target="_blank">
            View the site
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Udemy-Responsive-Website-UPDATED" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Omnifood Website</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            A website created taking the course "Build Responsive Real-World Websites with HTML and CSS" through Udemy written using HTML, CSS, and JavaScript.
          </p>
        </li>
        <li class="list-item">
          <img
            class="project-image"
            src="assets/images/projects/omnifood.png"
            alt="Omnifood website" />
        </li>
        <li class="list-item">
          <a class="link" href="https://eslutz.github.io/Udemy-Responsive-Website" target="_blank">
            View the site
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Udemy-Responsive-Website" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">GitHub Actions Workflow</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <div class="project-description">
            <p>
              This repository contains several workflow files that other repos can then call using the GitHub Actions <a href="https://docs.github.com/en/actions/using-workflows/sharing-workflows-secrets-and-runners-with-your-organization#sharing-workflows" target="_blank">Shared Workflows</a> feature.  The shared workflow files are configured to build the code from the calling repo, run unit tests, and run a static analysis using <a href="https://github.com/marketplace/actions/snyk" target="_blank">Snyk</a> to check for dependency vulnerabilities.  An additional workflow could be called to package and publish a library NuGet package to NuGet.org.
            </p>
            <p>
              The shared workflow can be called by copying the pre-made workflow files from the <strong><code>Generic Workflows</code></strong> folder into the target repos.  These workflows, when triggered, would call the workflow files in the specified repo.  They were written so that the unit test and static analysis workflows would run for any new pull request or updates to a pull request in the calling repo.  The workflow to package and publish a NuGet file would be run any time a new release is created in the calling repo.
            </p>
          </div>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/RockLib.Workflows" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
