<section class="projects" id="projects">
  <div class="container">
    <h2 class="heading-secondary">Projects</h2>
    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Space Adventure Text Game</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            A small text based game set on your ship written in Python.
          </p>
        </li>
        <li class="list-item">
          <img
            class="project-image"
            src="../../assets/images/projects/space_adventure_text_game.png"
            alt="Space Adventure Text Game start screen" />
        </li>
        <li class="list-item">
          <a class="link" href="https://replit.com/@eslutz/Space-Adventure-Text-Game?v=1" target="_blank">
            Play the game
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Space-Adventure-Text-Game" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Guessing Game</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            A simple game written in Python about guessing a number with three different ways to play.
          </p>
        </li>
        <li class="list-item">
          <img
            class="project-image"
            src="../../assets/images/projects/guessing_game.png"
            alt="Guessing Game start screen" />
        </li>
        <li class="list-item">
          <a class="link" href="https://replit.com/@eslutz/Guessing-Game?v=1" target="_blank">
            Play the game
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Guessing-Game" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Bricks n Balls</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            A simple game written in C++ using the OpenGL library about destroying some bricks with some balls.
          </p>
        </li>
        <li class="list-item">
          <video class="project-image" controls>
            <source src="assets/images/projects/bricks_n_balls.mp4" />
          </video>
        </li>
        <li class="list-item">
          <a class="link" href="https://github.com/eslutz/Bricks-n-Balls/releases/tag/v1.0.0" target="_blank">
            Download the game
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Bricks-n-Balls" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="project">
      <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">OpenGL 3D Scene</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            A 3D scene based on a real life image created using the OpenGL library and written in C++.
          </p>
        </li>
        <li class="list-item">
          <video class="project-image" controls>
            <source src="assets/images/projects/3d_scene.mp4" />
          </video>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/CS-330-Portfolio" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
      </div>
      <div class="project">
        <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Omnifood Website v2</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            An updated version of the website created taking the newest version of the course "Build Responsive Real-World Websites with HTML and CSS" through Udemy written using HTML, CSS, and JavaScript.
          </p>
        </li>
        <li class="list-item">
          <img
            class="project-image"
            src="../../assets/images/projects/omnifood_v2.png"
            alt="Updated Omnifood website" />
        </li>
        <li class="list-item">
          <a class="link" href="https://eslutz.github.io/Udemy-Responsive-Website-UPDATED" target="_blank">
            View the site
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Udemy-Responsive-Website-UPDATED" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
      </div>
      <div class="project">
        <p class="project-description">
        <i class="fa-solid fa-angles-right"></i>
        <strong class="left-padding--xs">Omnifood Website</strong>
      </p>
      <ul class="list">
        <li class="list-item">
          <p class="project-description">
            A website created taking the course "Build Responsive Real-World Websites with HTML and CSS" through Udemy written using HTML, CSS, and JavaScript.
          </p>
        </li>
        <li class="list-item">
          <img
            class="project-image"
            src="../../assets/images/projects/omnifood.png"
            alt="Omnifood website" />
        </li>
        <li class="list-item">
          <a class="link" href="https://eslutz.github.io/Udemy-Responsive-Website" target="_blank">
            View the site
            <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
          </a>
        </li>
        <li class="list-item">
          <div>
            <i class="fa-brands fa-github"></i>:
            <a class="link" href="https://github.com/eslutz/Udemy-Responsive-Website" target="_blank">
              Code
              <i class="fa-solid fa-arrow-up-right-from-square left-padding--xs"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
