/*********************/
/* STICKY NAVIGATION */
/*********************/
.sticky {
  background-color: rgba(238, 238, 238, 0.96);
  bottom: 0;
  -webkit-box-shadow: 0 5px 5px #eee;
  box-shadow: 0 5px 5px #eee;
  height: 8rem;
  padding-bottom: 0;
  padding-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
