<header class="nav">
  <div class="nav-container" (outsideClick)="outsideMobileNavClick($event)">
    <a class="img-link" routerLink="/home">
      <img
        class="nav-image"
        src="assets/images/computer_logo.png"
        alt="Computer Logo"
      />
    </a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li>
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active-link"
            (click)="mobileNavClick()"
            >Home</a>
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="/projects"
            routerLinkActive="active-link"
            (click)="mobileNavClick()"
            >Projects</a>
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="/achievements"
            routerLinkActive="active-link"
            (click)="mobileNavClick()"
            >Achievements</a>
        </li>
      </ul>
    </nav>
    <button class="btn-mobile-nav" (click)="mobileNavClick()" aria-label="menu">
      <i class="fa-solid fa-bars icon-mobile-nav" name="menu-outline"></i>
      <i class="fa-solid fa-xmark icon-mobile-nav" name="close-outline"></i>
    </button>
  </div>
</header>
