/* You can add global styles to this file, and also import other style files */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('assets/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans';
  font-size: 62.5%;
  scroll-padding-top: 70px;
}

body {
  color: #555;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
}

p {
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

/**********************/
/* GENERAL COMPONENTS */
/**********************/

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 5.6rem 3.2rem;
}

.half-width {
  margin: 0 auto;
  width: 50%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 5px;
}

/* HEADING */
.heading-container {
  margin: 0 auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0 3.2rem 4.8rem 3.2rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #767676;
  letter-spacing: -1px;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 150;
  line-height: 1.05;
  max-width: 230rem;
  padding: 4.8rem 3.2rem;
}

.heading-secondary {
  font-size: 4.2rem;
  font-weight: 200;
  line-height: 1.2;
  padding: 0 0 0.4rem 0;
  margin: 0 0 1.8rem 0;
  border-bottom: 0.25rem solid;
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  padding: 0 0 2.2rem 0;
  letter-spacing: 0px;
}

/* IMAGE */
.image {
  border-radius: 5px;
  display: block;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}

.image:hover {
  -webkit-transform: translateY(-1.2rem);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
}

.image-shadow {
  border-radius: 5px;
  -webkit-box-shadow: 0 1.2rem 6.4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 1.2rem 6.4rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin: 2rem 0;
}

/* LINK */
.link {
  display: inline-block;
  font-weight: 400;
  padding-bottom: 0.4px;
  text-decoration: none;
}

.link:link,
.link:visited {
  color: #603aa1;
  border-bottom: 0.125rem solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #c8102e;
  border-bottom: 0.125rem solid #c8102e;
}

.img-link {
  text-decoration: none;
}

.nav-link {
  color: #767676;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 0.125rem solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active,
.active-link {
  color: #c8102e;
  border-bottom: 0.125rem solid #c8102e;
}

/* LIST */
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.4rem;
  list-style: none;
}

.list-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  gap: 1.6rem;
}

.list-icon-top {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

/* SECTION BACKGROUND COLOR */
.light-bg {
  background-color: #eee;
  -webkit-box-shadow: 0 5px 5px #eee, 0 -5px 5px #eee;
  box-shadow: 0 5px 5px #eee, 0 -5px 5px #eee;
}

/* UTILITIES */
.u-center-text {
	text-align: center;
}

.u-margin-top-lg {
	margin-top: 6rem;
}

/****************/
/* BELOW 1088px */
/****************/
@media (max-width: 68em) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .half-width {
    width: 100%;
  }
}

/***************/
/* BELOW 928px */
/***************/
@media (max-width: 58em) {
  html {
    font-size: 56.25%;
  }

  .half-width {
    width: 75%;
  }
}

/***************/
/* BELOW 704px */
/***************/
@media (max-width: 44em) {
  html {
    font-size: 50%;
  }

  .header-image {
    height: 4rem;
  }
}

/***************/
/* BELOW 408px */
/***************/
@media (max-width: 25.5em) {
  .header-image {
    height: 3rem;
  }

  .heading-primary {
    font-size: 4rem;
  }

  .heading-secondary {
    font-size: 3.4rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
