<header class="light-bg">
  <div class="heading-container">
    <h1 class="heading-primary">Eric Slutz | Portfolio</h1>
  </div>
</header>
<section class="about" id="about">
  <div class="container">
    <h2 class="heading-secondary">Background</h2>
    <p>
      I am an experienced Software Engineer with a demonstrated history working on multiple web applications and libraries using test-driven development and agile methodologies. My skills include proficiency in C#, .NET, Javascript/Typescript, HTML/CSS/SASS, and experience in frontend development using Angular and React. Additionally, I am experienced in CI/CD pipeline development using CircleCI and GitHub Actions and proficient in AWS tools and services. Prior to that, for eight years I worked as a Senior Desktop Technician until in mid 2020 I moved into a software engineering position.
    </p>
  </div>
</section>
<section class="education light-bg" id="education">
  <div class="container">
    <h2 class="heading-secondary">Education</h2>
    <p>
      Currently, I am back in school at Southern New Hampshire University pursuing a degree in Computer Science with a concentration in Software Engineering.  Previously, I completed a Full Stack C# .NET Bootcamp through Grand Circus. Before that I earned a Bachelor of Science in Computer Information Technology from Oakland University.
    </p>
  </div>
</section>
